Read the dataset to Python environment:

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

Display the columns in the dataset:

In [ ]:
print(iris.columns)

Calculate the mean of each column of the dataset:

In [ ]:
# Assuming the data is stored in a list of lists
data = [
    [5.1, 3.5, 1.4, 0.2, 'Iris-setosa'],
    # ... (add the rest of the rows)
    [5.9, 3.0, 5.1, 1.8, 'Iris-virginica']
]

# Extracting numerical data and calculating mean values
numerical_data = [row[:-1] for row in data if len(row) == 5 and all(isinstance(val, (int, float)) for val in row[:-1])]
column_means = [sum(col) / len(col) for col in zip(*numerical_data)]

# Displaying the mean values for each column
column_names = ['SL', 'SW', 'PL', 'PW']
for name, mean in zip(column_names, column_means):
    print(f"Mean {name}: {mean}")

Mean SL: 5.5
Mean SW: 3.25
Mean PL: 3.25
Mean PW: 1.0

Check for null values in the dataset:

In [ ]:
import pandas as pd
from io import StringIO

# Your dataset
data = """
SL SW PL PW Classification
5.1 3.5 1.4 0.2 Iris-setosa
4.9 3 1.4 0.2 Iris-setosa
... (your complete dataset)
"""

# Create a DataFrame
df = pd.read_csv(StringIO(data), delimiter=' ')

# Check for null values
null_values = df.isnull().sum()

# Print the null values count for each column
print("Null values in each column:")
print(null_values)

Null values in each column:
SL                0
SW                0
PL                0
PW                0
Classification    1
dtype: int64